@{
    Layout = "~/Views/Shared/_LayoutPageGeneral.cshtml";
}

<h1>@ViewBag.Username's Dashboard</h1>

<div class="jumbotron">
    <h2>Settings</h2>
</div>

<div class="jumbotron">
    <h2>Recipes</h2>
</div>
